# Ignore everything
*

# But not these files...
!.gitignore
!build.sh
!docker-compose.yml
!Dockerfile
!LICENSE
!NOTICE
!README.md
!start.sh
!stop.sh
!sftp.json

# ...and not these directories
!example/
!sftp_files/
!sftp_files/dummy.pdf
!sftp_files/dummy.docx
!python_extensions/