# Ignore everything
*

# But not these files...
!.gitignore
!build.sh
!docker-compose.yml
!Dockerfile
!LICENSE
!NOTICE
!README.md
!start.sh
!stop.sh
!logs.sh

# ...and not these directories
!example/
!files/
!files/dummy.pdf
!files/dummy.docx
!python_extensions/
!state/