services:
  liquid-playground:
    image: nocodenation/liquid-playground:latest
    container_name: liquid-playground
    volumes:
      - ./files:/files:z
      - ./python_extensions:/opt/nifi/nifi-current/python_extensions:z
      - ./state:/opt/nifi/nifi-current/state:z
      - ./nar_extensions:/opt/nifi/nifi-current/nar_extensions:z
    ports:
      - "8443:8443"
