services:
  liquid-playground:
    image: nocodenation/liquid-playground:latest
    container_name: liquid-playground
    volumes:
      - ./files:/files:z
      - ./python_extensions:/opt/nifi/nifi-current/python_extensions:z
    ports:
      - "8443:8443"
      - "8999:8999"
